<a href="https://colab.research.google.com/github/LuSiEDa/prac/blob/main/work/Ch21_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

안녕하세요. 수강생 여러분~! Chapter21 ~ 32 수업은 잘 들으셨나요?

Chapter21 ~ 32의 수업 내용을 바탕으로 아래 문제를 풀어주시면 됩니다.


<br>


[**답변 입력 방법**]

문제 아래에 있는 코드 입력창에 정답코드를 작성하신 후  __▷ 버튼을 클릭해 코드를 실행__ 해보세요<br>

---

[문제 1]
사용자로부터 이름과 나이를 입력 받아, "안녕하세요, [이름]님! 당신은 [나이]살입니다."라고 출력하는 함수 greet_user를 작성하세요.

In [3]:
def greet_user(name, age):
    print(f'안녕하세요. {name}님! 당신은 {age}살입니다.')

greet_user(input("이름을 입력하세요"), input("나이를 입력하세요"))

이름을 입력하세요김오즈
나이를 입력하세요817
안녕하세요. 김오즈님! 당신은 817살입니다.

---

[문제 2] 여러 숫자를 입력받아 그 합계를 반환하는 함수 sum_numbers를 작성하세요. 이 때, 가변 매개변수를 사용하세요.

In [8]:
def sum_numbers(*가변):
    print(가변)
    return sum(가변)


sum_numbers(*map(int,input("숫자를 입력해주세요.쉼표기준 컷트").split(",")))

숫자를 입력해주세요.쉼표기준 컷트4,2,5,12123,5
(4, 2, 5, 12123, 5)

12139

---

[문제 3] 사용자의 이름을 출력하는 함수 print_name을 작성하세요. 만약 이름이 주어지지 않았다면, 기본값으로 "익명"을 사용하세요.

In [23]:
def print_name(name):
    if name ==" ":
        name = "익명"
        return print(name)
    else:
        print(name)

print_name(input("이름을 입력하세요"))

이름을 입력하세요
익명

---

[문제 4] 사용자의 이름, 나이, 성별을 출력하는 함수 print_info를 작성하세요. 이 때, 모든 매개변수는 키워드 매개변수로만 받도록 하세요.

In [24]:
def print_info(*, name, age, gender):
    print(f'이름:{name}, 나이:{age}, 성별:{gender}')

print_info(name=input("이름을 입력하세요"), age=input("나이를 입력하세요"), gender=input("성별을 입력하세요"))

이름을 입력하세요김오즈
나이를 입력하세요617살
성별을 입력하세요남자
이름:김오즈, 나이:617살, 성별:남자

---

[문제 5] 두 개의 정수를 받아 합을 반환하는 함수 add를 작성하세요. 매개변수와 반환값에 타입 어노테이션을 추가하세요.

In [35]:
def add(x: int, y: int) -> int:
    sum = x + y
    print(sum)

add(int(input("첫번째 숫자를 입력하세여")),int(input("두번째 숫자를 입력하세여")))

첫번째 숫자를 입력하세여3
두번째 숫자를 입력하세여7
10

---

[문제 6] 0부터 시작하여 n까지의 숫자 중에서 홀수만 생성하는 제너레이터 odd_numbers를 작성하세요.

In [38]:
def odd_numbers(n):
    for i in range(n + 1):
        if i % 2 == 1:
            yield i

---

[문제 7] 두 숫자를 더하는 람다 함수를 작성하고, 이를 변수에 할당한 후 사용하세요.

In [36]:
더하기 = lambda x, y: x + y

결과 = 더하기(10, 20)
print(결과)

30

---

[문제 8] 사용자로부터 3개의 숫자를 입력받아, 이를 튜플로 만든 후 최소값과 최대값을 출력하는 함수 min_max를 작성하세요.

In [10]:
def min_max(임의숫자: tuple):
    print(f'최소 : {min(임의숫자)}, 최대 : {max(임의숫자)}')


임의숫자 = tuple(map(int, input("숫자 3개를 입력해주세요 :").split(",")))


min_max(임의숫자)

숫자 3개를 입력해주세요 :4,7,10
최소 : 4, 최대 : 10

---

[문제 9] 주어진 숫자가 짝수인지 확인하는 함수 is_even을 작성하세요. 짝수라면 True를, 아니라면 False를 반환하세요. 함수 내에서 조기 리턴을 활용하세요.

In [16]:
from pickle import TRUE
def is_even(number):
    if number % 2 == 0:
        return True

    return False

풋인 = int(input("숫자를 입력하세요 :"))
print(is_even(풋인))

숫자를 입력하세요 :211
False

---

[문제 10] 팩토리얼을 계산하는 재귀 함수 factorial을 작성하세요.

In [ ]:
# 5! = 5*4*3*2*1

def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

---

[문제 11] 문자열 리스트를 받아, 각 문자열의 길이를 출력하는 함수 print_lengths를 작성하세요.

In [26]:
길이 = []
def print_lengths(길이):
        print(f'{길이}의 길이는 {len(길이)}입니다')


프린트 = input("문자열을 입력하세요 :")
print_lengths(프린트)

문자열을 입력하세요 :아자차카타파
아자차카타파의 길이는 6입니다

---

[문제 12] 두 문자열을 받아서 긴 문자열을 반환하는 함수 longer_string을 작성하세요. 만약 두 문자열의 길이가 같다면, 첫 번째 문자열을 반환하세요.

In [27]:
def longer_string(길이1, 길이2):
    print(max(길이1, 길이2))

longer_string(input("첫번째 문자열을 입력하세요. : "), input("두번째 문자열을 입력하세요. : "))

첫번째 문자열을 입력하세요. : 가나다라마
두번째 문자열을 입력하세요. : 바사아자차카타
바사아자차카타