<a href="https://colab.research.google.com/github/LuSiEDa/prac/blob/main/work/python_test04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 함수

def 양파():
    print("양파를 2개 수확했습니다.")
def 대파():
    print("대파를 수확했습니다.")
# 함수 호출하기
양파()
대파()

양파를 2개 수확했습니다.
대파를 수확했습니다.

In [4]:
def function(x, y):
    z = x + y
    return z

print("옥수수와 수박의 수확량 :",function(10, 2))

옥수수와 수박의 수확량 : 12

In [5]:
def 계산(가격, 개수):
    return 가격 * 개수
print(계산(1000, 5), "원입니다.")

5000 원입니다.

In [7]:
a = 100

def f():
    global a
    a = a + 1
    return a

f()

101

In [10]:
won = {"A등급":1000, "B등급":500, "C등급":100}

def 계산(a, b, c):
    합계 = won["A등급"] * a + won["B등급"] * b + won["C등급"] * c
    return 합계

print(계산(5, 2, 3), "원입니다.")

6300 원입니다.

In [11]:
# 상수

pi = 3.14         # 전역 변수, 상수

def circle(r, inputpi):         # inputpi는 매개변수(지역 변수)
    z = r*r*inputpi             # 지역 변수들만 사용
    return z

result =circle(10, pi)          # 전역 변수 pi를 함수에 전달
print(result)

# 관례적으로 변경하지 않을 값은 대문자로 씀. (예: Pi = 3.14)
# 지역변수로 설정된 inputpi는 그저 파라미터일뿐. 함수안에서만 살아있고 함수가 끝나면 사라진다.
# result = circle(10, pi)
# -> 함수는 바깥에 변수 pi를 건드리지 않음. result 변수를 통해 값을 받아 함수안에 r, inputpi에 집어넣는 역할.

314.0

In [ ]:
# 중첩 함수

def print_text():
    text = "콩콩팥팥 수확의 기쁨"
    def txt():
        print(text)
    txt()
print_text()


# print_text() 함수가 정의됨  -> 맨밑에서 호출 (비로소 실행 시작)
# 변수 text가 선언됨 -> 내부 함수 txt()가 정의됨
# txt(): 내부 함수 실행
# txt는 바깥쪽 함수 print_text()의 지역 변수. '클로저'라고 부름.
# 함수 안에 함수는 내부 함수가 외부 함수에 지역 변수에 접근 가능

In [12]:
def 수확철():
    야채 = {"A등급":0, "B등급":0, "C등급":0}

    def 양파():
        야채["A등급"] +=1

    def 대파():
        야채["A등급"] += 3
        야채["B등급"] += 3
        야채["C등급"] += 4
    def 쪽파():
        야채["금"] = 1

    양파()
    대파()
    쪽파()

    return 야채

수확철()

# sum(수확철().values()

{'A등급': 4, 'B등급': 3, 'C등급': 4, '금': 1}

In [13]:
# class

#class 클래스 이름:
#    del 매서드(slef):
#        코드


class person:
    def hello(slef):
        print("수강생 여러분")

호출 = person() # 인스턴스
호출.hello()

# self는 인스턴스 자기자신. 짜여진 코드 안에서 한 단계 두 단계 완성되어감.

수강생 여러분

In [16]:
class person:
    def __init__(self, name, age, address):
        self.hello = "안녕하세요"
        self.name = name
        self.age = age
        self.address = address

    def greeting(self):
        print('{0} 저는 {1}입니다.'.format(self.hello, self.name))

maria = person("마리아", 20, "서울시 서초구 반포동")
maria.greeting()   # 안녕하세요 저는 마리아입니다.

print("이름:", maria.name)
print("나이:", maria.age)
print("주소:", maria.address)

안녕하세요 저는 마리아입니다.
이름: 마리아
나이: 20
주소: 서울시 서초구 반포동

In [21]:
# 클래스의 상속
# 기반 클래스 -> 파생 클래스

class Car(object):
    maxspeed = 300
    maxpeople = 5
    def move(self, x):
        print("스피드로 달리고 있습니다.")
    def stop(self):
        print("멈췄습니다.")

class HybridCar(Car):
    battery = 1000
    batteryKM = 300

class ElectricCar(HybridCar):
    battery = 1000
    batteryKM = 300
    def move(self, x):
        print(self.batteryKM, "만큼 달릴 수 있습니다.")
        print(x, "스피드로 달리고 있습니다.")

k5 = HybridCar()
# k5.maxpeople

electricCark5 = ElectricCar()
electricCark5.maxspeed

300

In [25]:
y = [10, 20, 30]

try:
    index, x = map(int, input("나눌 숫자를 입력하세요:").split(","))
    print(y[index]/x)
    # raise <- 에러 발생시키기

except ZeroDivisionError:
    print("숫자를 0으로 나눌 수 없습니다.")

except IndexError:
    print("잘못된 인덱스입니다.")

else:
    print("성공하셨습니다.")

finally:
    print("코드 실행이 종료되었습니다.")

나눌 숫자를 입력하세요:2,10
3.0

In [ ]:
# 파일 입출력

# 웹 -> 크롤링 -> 데이터베이스 -> 1차 클렌징 -> 출력 후 담당자에게 전달

# 그 후 2차 클렌징 -> 유용한 데이터셋 -> csv 데이터베이스 입력 -> 인공지능 학습

# r- 읽기, w- 덮어쓰기, a- 추가

# f = open('test.txt','w')
# 메시지 = ''
# f.write('''개발자 여러분''')
# f.close()

#for i in range(10)
    # 메시지 += "개발자 여러분₩n"